In [1]:
import matplotlib as mpl
import matplotlib.pyplot as plt

%matplotlib inline
mpl.style.use('bmh')

In [2]:
import pandas as pd
import us

from collections import OrderedDict
from wordfreq import top_n_list
from wordcloud import WordCloud

from twitter_geo.state_word_counts.db import StateWordCount

In [3]:
states = [s.name.lower() for s in us.states.STATES]

In [4]:
cities = [
    'new york',
    'los angeles',
    'chicago',
    'houston',
    'phoenix',
    'philadelphia',
    'san antonio',
    'san diego',
    'dallas',
    'san jose',
    'austin',
    'jacksonville',
    'san francisco',
    'columbus',
    'indianapolis',
    'fort worth',
    'charlotte',
    'seattle',
    'denver',
    'el paso',
    'washington',
    'boston',
    'detroit',
    'nashville',
    'memphis',
    'portland',
    'oklahoma city',
    'las vegas',
    'louisville',
    'baltimore',
    'milwaukee',
    'albuquerque',
    'tuscon',
    'fresno',
    'sacramento',
    'mesa',
    'kansas city',
    'atlanta',
    'long beach',
    'colorado springs',
    'raleigh',
    'miami',
    'virginia beach',
    'omaha',
    'oakland',
    'minneapolis',
    'tulsa',
    'arlington',
    'new orleans',
    'wichita',
]

In [5]:
def make_geo_set(names):
    geo = set()
    for name in names:
        geo.update(name.split())
    return geo

In [6]:
city_tokens = make_geo_set(cities)

In [7]:
state_tokens = make_geo_set(states)

In [8]:
stopwords = set(top_n_list('en', 50))

In [9]:
blacklist = set.union(stopwords, city_tokens, state_tokens)

In [10]:
state_counts = StateWordCount.state_counts()

In [15]:
token_counts = StateWordCount.token_counts(10000)

In [16]:
import math

def ttest(key1, key2):

    data = []
    for token in token_counts.keys():

        if token in blacklist or len(token) < 3:
            continue
            
        # Total count of key1 + key2.
        n = state_counts[key1] + state_counts[key2]
        
        p_key1 = state_counts[key1] / n
        
        key1_token_count = StateWordCount.state_token_count(key1, token) or 0
        key2_token_count = StateWordCount.state_token_count(key2, token) or 0
        p_token = (key1_token_count + key2_token_count) / n
        
        p_key1_token = key1_token_count
            
        
            
            
            
        # Total count of key1 + key2.
        n = state_counts[key1] + state_counts[key2]
        
        key1_token_count = StateWordCount.state_token_count(key1, token) or 0
        key2_token_count = StateWordCount.state_token_count(key2, token) or 0
        
        token_count = key1_token_count + key2_token_count
        
        p_key1 = state_counts[key1] / n
        
        key1_token_count = StateWordCount.state_token_count(key1, token) or 0
        key2_token_count = StateWordCount.state_token_count(key2, token) or 0
        
        p_token = (key1_token_count + key2_token_count) / n
        
        p = key1_token_count / state_counts[key1]
        
        h0 = p_key1 * p_token
        
        var = p * (1-p)
        
        t = (p - h0) / (math.sqrt(var / n))
        
        data.append((token, t))
    
    df = pd.DataFrame(data, columns=('token', 't'))
    
    return df.sort_values('t', ascending=False)

In [20]:
ttest('MA', 'WI')

           token           t
5            now  163.926507
0            amp  157.945245
4            how  147.525106
3           more  146.332733
16           via  136.442013
1            get  134.368833
11           our  130.184352
2            don  128.634727
7         people  121.574140
6           love  118.539899
12           who  117.711608
8           good  116.451939
15          here  114.268115
13           day  113.059687
19         there  112.664344
9           time  112.219382
21           why  108.922076
17           see  108.542671
20           has  107.870463
10          know  107.702976
14         today  106.264806
27         great  103.762578
24          need  103.097314
22          want  101.766840
2337     eastern   99.564783
37         think   97.657221
38          work   96.268042
26           she   95.398845
29           too   94.837884
36        really   94.040750
...          ...         ...
1484         bay  -16.183150
3200      walker  -16.290365
3013   completed  -19.666345
5156         int  -20.458228
2609       chain  -22.038922
1173        lake  -22.067488
4946      sealed  -22.490076
6011     midwest  -22.589764
5990      claire  -22.658487
376         wire  -22.871686
816       county  -24.791412
2513        cubs  -25.528889
3218       creek  -26.351281
8265      locate  -32.891794
2773      supply  -33.280405
2718     arrived  -33.906710
7133     tobacco  -34.193332
7362        fond  -35.618270
2636        item  -36.094738
4545     rodgers  -37.167681
5020  assignment  -38.288653
3208       novel  -38.906372
672      unknown  -47.421874
4620      arrive  -47.844436
4331        tits  -55.336632
7616     advised  -67.378737
3079       bucks  -75.327240
5306      serial  -84.604182
6315  purchasing -145.352673
3761     madison -168.182944

[8374 rows x 2 columns]