In [101]:
import ujson
import re
import pandas as pd

from tqdm import tqdm_notebook
from glob import glob
from gensim.models.word2vec import Word2Vec
from itertools import product
from wordfreq import top_n_list
from IPython.display import Markdown, HTML, display
from tabulate import tabulate

In [117]:
pd.options.display.max_rows = 1000

In [18]:
def read_tweets(pattern):
    
    tweets = []
    for path in glob(pattern):
        with open(path) as fh:
            for line in tqdm_notebook(fh):
                
                tweet = ujson.loads(line)
                
                text = re.sub('(#|@|http)\S+', '', tweet['body'])
                tokens = re.findall('[a-z0-9]+', text.lower())
                
                tweets.append(tokens)
                
    return tweets

In [19]:
rural = read_tweets('../../data/geo-lt10k.json/part-0000*')

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [15]:
urban = read_tweets('../../data/geo-gt1m.json/part-0000*')

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [20]:
rural_model = Word2Vec(rural, workers=8)

In [22]:
urban_model = Word2Vec(urban, workers=8)

In [21]:
rural_model.most_similar('earth')

[('planet', 0.7829978466033936),
 ('dwell', 0.5269863605499268),
 ('world', 0.5174082517623901),
 ('universe', 0.5011920928955078),
 ('purpose', 0.4989180564880371),
 ('depending', 0.49261489510536194),
 ('mankind', 0.48292750120162964),
 ('christ', 0.47708719968795776),
 ('visible', 0.46374422311782837),
 ('species', 0.4624600410461426)]

In [23]:
urban_model.most_similar('earth')

[('planet', 0.8616721034049988),
 ('world', 0.5897253751754761),
 ('side', 0.5761807560920715),
 ('ocean', 0.574997067451477),
 ('purpose', 0.5739495158195496),
 ('soil', 0.5735812187194824),
 ('darkness', 0.5720939636230469),
 ('dwell', 0.5691649913787842),
 ('surface', 0.5686110854148865),
 ('path', 0.5609077215194702)]

In [52]:
def score_shift(m1, m2, token, n=10):
    
    m1_similar = [t for t, _ in m1.most_similar(token, topn=n)]
    m2_similar = [t for t, _ in m2.most_similar(token, topn=n)]
    
    score = 0
    for t1, t2 in product(m1_similar, m2_similar):
        score += m2.similarity(t1, t2)
        
    return score

In [53]:
score_shift(urban_model, rural_model, 'fuck')

49.193618851642924

In [115]:
data = []

for token in top_n_list('en', 1000):
    try:
        score = score_shift(urban_model, rural_model, token)
        data.append((token, score))
    except: pass

In [116]:
df = pd.DataFrame(data, columns=('token', 'score'))

In [118]:
df.sort_values('score').head(200)

          token      score
832        mark  13.427977
512        main  14.143367
471       march  15.087607
774        race  16.076421
781           w  17.017894
509  especially  19.902497
387      single  21.832514
803        boys  21.979826
102        here  22.061236
669    official  23.013374
457       clear  23.029706
180      please  23.594106
636       began  24.580048
505      chance  24.998757
257        full  25.163058
657       worth  25.515788
776     section  25.961690
236         top  26.072487
75          our  26.145149
69         than  26.330660
858    pressure  26.385671
850       below  26.512081
735         led  26.602215
423        deal  26.651824
400         age  26.738022
47          has  26.896892
164        high  27.345377
26           or  27.446234
24         from  27.486716
659        bank  27.618289
22           at  28.167282
599       shows  28.623560
40        about  28.626815
827       daily  28.661649
216       point  28.713424
382       close  28.933592
248        live  29.021546
68          its  29.245327
195      number  29.353631
65          now  29.441164
21           he  29.484306
546      middle  29.621807
640        date  30.441587
2            of  30.551267
700        hell  30.580196
617        upon  30.580223
183         end  30.698242
217        free  30.892362
19         have  31.124751
288       party  31.226254
187        show  31.539676
348       level  31.729140
283       order  31.733114
750      effect  31.866864
493      church  31.919919
14         with  31.975780
176        next  32.025197
199        left  32.027789
150      little  32.087599
784       china  32.100332
88         well  32.411270
174     without  32.427968
397        soon  32.716640
33          one  32.818437
407        late  33.121695
811        note  33.183309
304       least  33.193578
559     present  33.313897
708       whose  33.316568
287        open  33.331365
286       early  33.423014
510        held  33.476019
417     playing  33.510789
633       union  33.657944
808        loss  33.774656
84          any  33.800293
563        view  33.864371
67        other  33.864956
268       small  34.114506
440         due  34.380729
228       today  34.424747
210        case  34.584490
711          co  34.676997
442      living  34.766722
375           m  34.835332
411       watch  34.872932
517        rest  34.961121
418      reason  35.104560
785    complete  35.188236
321     working  35.246765
425       short  35.346959
249    national  35.355791
313       black  35.377917
309       often  35.428675
165      school  35.481803
467      behind  35.494277
697   character  35.543972
197         god  35.725741
131        last  35.863152
182     against  35.970648
504       above  36.168302
163         old  36.287094
160       under  36.311433
275         job  36.357748
578      record  36.442823
82        after  36.582200
284        side  36.594488
460       front  36.651761
145     between  36.694661
535        term  36.719045
192         big  36.727942
205        name  37.030970
240       later  37.099337
393      office  37.229856
1            to  37.284973
569        dead  37.288090
17           as  37.311308
258      making  37.342610
571       fight  37.450331
557        king  37.500998
140        does  37.575676
698        fast  37.625480
725       stage  37.662299
126        such  37.754250
849        base  37.918588
171       place  37.934814
389         bit  37.963733
327       young  37.970203
437      action  38.037790
673        step  38.071579
207       until  38.162585
9           for  38.168774
573    happened  38.183892
208        real  38.209026
842    response  38.240890
441        list  38.354912
496        land  38.523422
318       means  38.554418
29           we  38.575883
796        ones  38.628073
177           s  38.670497
158         own  38.676090
173      during  38.754928
671        seem  38.784245
548      played  38.861779
7            is  38.895757
805       cover  38.909604
202   different  38.977475
399         act  39.007835
695   attention  39.027170
749       earth  39.098132
807      entire  39.172065
513      moment  39.198501
692       stuff  39.358694
225        city  39.433255
449       force  39.553402
13          was  39.570338
369       video  39.673851
306     problem  39.703251
344        half  39.703648
233        read  39.707157
263     general  39.746490
534      strong  39.807333
272         yes  39.812094
660     changes  39.830816
44           up  39.845623
537     america  39.908780
792    hospital  39.975760
853     earlier  40.046192
662         eat  40.084042
329      almost  40.108089
138        same  40.185158
147        look  40.203221
383        past  40.233090
839     popular  40.249283
215       group  40.342605
367      matter  40.349453
103       right  40.362839
296           t  40.378574
49           no  40.419696
51        there  40.436156
585        wish  40.464273
239     getting  40.477318
285         try  40.516215
135        long  40.529878
106        work  40.533360
168       again  40.599694
366        idea  40.663184
565       board  40.807914
616       trade  40.821731
96          way  40.863977
819     towards  40.969471
143        both  41.038706
528      likely  41.051401
772        okay  41.133833
497        meet  41.236454
547        miss  41.237176
212       doing  41.262685
538      became  41.337608
5            in  41.340325

In [119]:
def compare(token):
    
    u_similar = urban_model.most_similar(token)
    r_similar = rural_model.most_similar(token)
    
    data = []
    for (ut, _), (rt, _) in zip(u_similar, r_similar):
        data.append((ut, rt))
        
    return pd.DataFrame(data, columns=('urban', 'rural'))

In [125]:
for token in df.sort_values('score').head(100)['token']:
    display(Markdown(f'## {token}'))
    display(compare(token))

## mark

    urban        rural
0    goal       shania
1  second    calendars
2   first          rev
3   final  unshakeable
4   third    calenders
5  period         john
6     3rd     schaefer
7  fourth         gary
8     1st       legacy
9    last        lewis

## main

      urban       rural
0   biggest  coronation
1     first      street
2      sole     closing
3      only     located
4   current     current
5     prime         hub
6   weakest      wazers
7     whole    crossing
8     final      avalon
9  greatest          nj

## march

          urban      rural
0       protest      april
1         rally   february
2          arch       june
3       marches    january
4      marching  september
5        parade     august
6       marched       sept
7      protests        feb
8  inauguration       july
9          riot    october

## race

         urban     rural
0         slam      game
1     ideology  division
2     religion     match
3  nationality     title
4    ethnicity    nascar
5    rebellion    battle
6       debate    sprint
7        crime   matchup
8     identity    series
9   oppression    finals

## w

     urban       rural
0     with        with
1      wit         wit
2      amp           g
3      for         amp
4  between        jell
5     from       brien
6   during     without
7  without  glowsticks
8     btwn           l
9  against      jalape

## especially

          urban          rural
0     specially            esp
1           esp            are
2  particularly           were
3        except        dealing
4       dealing          comes
5        rooted  relationships
6          hate             re
7           ven         except
8        mostly        happens
9          were        keeping

## single

        urban       rural
0       track         rbi
1         one      double
2        song   groundout
3      female  redeemable
4       album      second
5  possession     leadoff
6       brand   strikeout
7      record     infield
8     mixtape        bunt
9       penny      aspect

## boys

       urban         rural
0      girls         girls
1      dudes            jv
2       kids      softball
3       bros       varsity
4     homies      wildcats
5    bitches      panthers
6     ladies    volleyball
7     chicks        tigers
8  strippers  cheerleaders
9    cousins         teams

## here

     urban      rural
0    there      there
1      now        now
2    where      where
3      ere    website
4    today      below
5  missing     corner
6     that       this
7      and     online
8      hat       busy
9    still  connected

## official

           urban                 rural
0     unofficial                 lyric
1       incoming             hoodclips
2     officially                 audio
3   announcement             uploading
4       upcoming  ourgenerationmusicco
5       takeover           dailymotion
6  controversial                   ign
7         newest     houseofhighlights
8     announcing              unedited
9      executive              autoplay

## clear

         urban      rural
0      obvious        fog
1       simple   clearing
2  transparent      light
3      precise      gusty
4   reasonable      dense
5        harsh   damaging
6      evident  scattered
7      visible     narrow
8       strong     cloudy
9        blind      skies

## please

     urban       rural
0    lease         pls
1      plz         plz
2      pls      pledge
3       ls    petition
4       lz  permission
5   kindly          to
6     lets         let
7  request     request
8      let        help
9    wanna         ill

## began

       urban         rural
0    started      occurred
1     starts      survived
2     begins       started
3        led      declared
4      ended   disappeared
5      stops  demonstrated
6     leaves     explained
7   destroys         aired
8  continues    discovered
9       ends        became

## chance

         urban        rural
0  opportunity      entered
1       ticket        enter
2         goal  opportunity
3  competition       choice
4     donation         pair
5         time        prize
6      chances      neekfox
7       reward    superjare
8       choice       sweeps
9         team          cup

## full

      urban       rural
0     whole    complete
1   regular       lapse
2       the     limited
3  complete     ocarina
4     every  production
5   limited       short
6     large      plenty
7       big       opera
8      this       loads
9     heavy     variety

## worth

        urban       rural
0       fault  deductible
1        good       fault
2    possible         brz
3        fair     dollars
4     dollars      worthy
5  ridiculous     percent
6        easy        okay
7  acceptable        cost
8   necessary   basically
9     capable  guaranteed

## section

      urban       rural
0  sections    district
1     front      region
2   library          2a
3      page          3a
4      line          1a
5     store    regional
6      area    sections
7     vault  tournament
8       tab   sectional
9     lobby          hs

## top

        urban    rural
0      bottom   bottom
1          op     tier
2        tops   canoes
3     highest     tops
4  equivalent   ranked
5        stop      par
6     biggest  fastest
7         000     wcyb
8     corners    meter
9       elite   maroon

## our

     urban        rural
0       ur        their
1     your         your
2    their          the
3      the           us
4      his    resources
5       my    donations
6     heir     visitors
7   drones  fundraising
8        y      vendors
9  signage   innovation

## than

           urban          rural
0            10x            10x
1  significantly  exponentially
2           then         pisces
3           even             or
4            but      capricorn
5             or         taurus
6            and          virgo
7    significant         gemini
8        because           100x
9       compared    significant

## pressure

         urban       rural
0       ground          hg
1     scrutiny         5of
2        power          wd
3  regulations    rainfall
4         risk         chl
5      tension  visibility
6   regulation        rain
7       damage     rapidly
8      surface        00in
9      fatigue        1015

## below

          urban         rural
0         above          link
1        higher        clicks
2         links       details
3           182           tab
4        volume     backlinks
5          link       updates
6  unemployment            fs
7           per  instructions
8         50mph           pdf
9        clicks          here

## led

         urban         rural
0    committed       lightme
1       caused       etronic
2     impacted       powered
3      sparked  rechargeable
4  contributed         aicok
5      leading      magnetic
6      commits     hollyhome
7    dominated      rotating
8    destroyed      portable
9    developed     dominated

## deal

       urban     rural
0      trade   problem
1   contract     deals
2    compete    pharma
3    problem      mess
4       bond     argue
5   leverage     issue
6   comeback   dealing
7    bargain  contract
8      pitch   concern
9  interfere     trade

## age

            urban       rural
0             30s       point
1              ge      height
2  interpretation          yr
3            lack       least
4             20s        risk
5      population       years
6      generation        half
7          height       child
8       instances  population
9            ages          iq

## has

     urban    rural
0     hasn    hasnt
1    hasnt     hasn
2     have      ive
3       ve   theyve
4  remains    youve
5      had  wouldve
6       is    needs
7        s       ve
8     gets        s
9  carries     have

## high

      urban         rural
0       low    elementary
1     heavy     districts
2    higher        middle
3     steep  intermediate
4    middle           low
5  lowering        record
6     lower       charter
7     early         highs
8     tight         tolar
9    rising         buses

## or

     urban    rural
0      and      and
1      for    maybe
2      amp      but
3       to       if
4       ut     then
5  without   unless
6       in     than
7      but  because
8       nd      any
9  consent       to

## from

     urban       rural
0       in  navigators
1      and      behind
2     with    chipping
3    after       after
4      frm         frm
5   during      during
6   before      across
7   behind      within
8  through   valuables
9      amp          at

## bank

       urban         rural
0       cash   legislature
1      phone        paypal
2    savings    laundering
3    account  multimillion
4     wallet    dispensary
5     laptop     deposited
6    deposit           pnc
7   landlord      taxpayer
8   computer         bills
9  cellphone       license

## at

     urban     rural
0       in   mitzvah
1  outside     after
2   during  tomorrow
3    after     thurs
4   inside        in
5     near      tues
6      for     until
7    today    during
8  closing   closing
9     from      till

## shows

      urban       rural
0      sets     showing
1    covers      showed
2      show        show
3     films     reveals
4   matches      leaked
5   showing  statistics
6   figures    releases
7  releases          is
8    panels  2high4life
9    showed      actors

## about

      urban       rural
0       abt         abt
1      like          ab
2  reckless        bout
3      bout        abou
4   without  ridiculous
5  actually        like
6  critical     exactly
7   related   important
8       but       crazy
9      over   political

## daily

          urban        rural
0        weekly       weekly
1  productivity       latest
2    generating     newspage
3    continuous  integration
4      constant     homebrew
5        yearly      nightly
6      everyday    chronicle
7          free      journal
8       tracker   newsletter
9       routine     magazine

## point

        urban      rural
0       least      least
1    argument        end
2   situation    attempt
3    position      stake
4       level        age
5  assumption  situation
6        joke       shot
7      notion    offense
8         job      score
9     premise       game

## close

      urban   rural
0      late    busy
1      open   tough
2      busy  closer
3  attached     bad
4      tied   upset
5     early    late
6   crowded    hard
7     tight    lazy
8    closed  heated
9      hard   lucky

## live

     urban       rural
0   stream   streaming
1     play        play
2  perform      stream
3     come        tune
4    watch      twitch
5      die        chat
6       go  livestream
7      see      living
8    drive        come
9      sit     streams

## its

        urban       rural
0      itself           s
1       their  capitalism
2  capitalism          it
3         his       thats
4          it          is
5         the          ur
6      profit       their
7       thats      itself
8      theyre  healthcare
9          is       greed

## number

     urban       rural
0    email        name
1  address      answer
2   height     numbers
3     acct       phone
4    phone    category
5  account        only
6  receipt  preference
7     name      errors
8  service      copies
9  numbers      height

## now

       urban      rural
0      still       here
1       here      still
2      today  currently
3    already       wing
4        not    already
5  currently      slots
6     corner     corner
7       then    wingers
8     anyway        alt
9       wing      today

## he

    urban   rural
0     the     she
1     she    that
2     his      it
3       e   trump
4      it     him
5    that  nobody
6  weapon      dt
7     one   obama
8      nd   putin
9      ut   potus

## middle

      urban         rural
0     front    elementary
1      high          high
2     woods     districts
3   hallway         front
4  backseat       hallway
5     midst           bus
6      zone  intermediate
7  basement     cafeteria
8    valley         board
9  bathroom         third

## date

        urban     rural
0       dates     dates
1        prom      prom
2    surprise  vacation
3        show   wedding
4  photoshoot   haircut
5      ticket    tattoo
6         set     dress
7     wedding     movie
8       crush     snack
9        trip    friday

## of

       urban       rural
0         in       among
1        and  throughout
2        for          in
3       vast    combined
4     within     deepest
5  potential         for
6       from   political
7      major      lowest
8  including     despite
9   enormous    spectrum

## hell

   urban    rural
0   fuck     heck
1     tf     fuck
2    fck     crap
3   shit     shit
4  grail     well
5   well     rest
6  woods       tf
7   fucc  nowhere
8   hood      lol
9   crap  exactly

## upon

        urban       rural
0      toward        unto
1      within       heals
2     towards  throughout
3  throughout       apart
4       apart      behold
5        onto      within
6     beneath     against
7        into      toward
8     through     witness
9  collective    endanger

## end

   urban   rural
0  catch   start
1   wake    rise
2   rise    rest
3   rest  bottom
4  start  finish
5    set   point
6   sign    half
7  cover  ending
8   blow   ended
9   pick     set

## free

           urban          rural
0  complimentary            vip
1        premium            450
2        regular            404
3           paid          entry
4          local  complimentary
5          daily            678
6        special     2487368255
7        limited         repost
8         online            577
9           code       discount

## have

     urban   rural
0       ve      ve
1      get     get
2    carry  having
3  require    give
4      use     hav
5     give     had
6      had   exist
7      has    lose
8   having      be
9     need   carry

## party

         urban        rural
0      parties      parties
1         club  celebration
2          bar        event
3        house         foam
4      wedding   democratic
5      concert        night
6        event   republican
7  celebration      meeting
8         pool        house
9         tent       dinner

## show

     urban        rural
0    match      showing
1  segment        shows
2    movie      concert
3      set           tv
4    event         turn
5    shows          see
6  concert        event
7      see  documentary
8     date        match
9   series         pick

## level

        urban       rural
0      levels       phase
1       scale      levels
2       point  generation
3  generation     surface
4   frequency       stage
5    function     chapter
6      career      volume
7       speed       badge
8        year  adjustment
9    capacity          iq

## order

      urban      rural
0    orders     orders
1  purchase       form
2    branch   purchase
3    charge      renew
4  exchange  delivered
5      file   existing
6  shipment       shop
7      case        buy
8  delivery        get
9      item     submit

## effect

          urban     rural
0      capacity   remains
1      spectrum   tornado
2       effects  rainfall
3       surface    severe
4      activity  isolated
5         scope  advisory
6    regulation  flooding
7         issue  portions
8  restrictions     radar
9        impact       cdt

## church

          urban       rural
0      hospital     worship
1        school      prayer
2        clinic      chapel
3       shelter  fellowship
4         house     baptist
5  neighborhood    cemetery
6    university    ministry
7        family   community
8      cemetery      christ
9       retreat      gospel

## with

      urban      rural
0         w          w
1       for    without
2       and        for
3   without        and
4      from        wit
5   against      after
6        in     during
7        on    towards
8  building         on
9       amp  including

## next

      urban     rural
0     first      last
1      last     first
2       nxt      this
3     later     every
4       ext      past
5     every  tomorrow
6     third    senior
7       1st   longest
8  tomorrow      rest
9     final     ahead

## left

       urban      rural
0     handed  remaining
1     placed       half
2       half         pp
3      moved     handed
4  remaining       foot
5    leaving       outs
6     blocks    pitches
7       then       runs
8     passed    timeout
9       lost     jumped

## little

     urban rural
0      lil   bit
1      bit   lot
2     tiny  baby
3      big   tad
4    small   lil
5     baby   big
6    puppy  tiny
7      lot   few
8      cat   fat
9  blanket   kid

## china

        urban      rural
0     cocaine       iran
1       farms  australia
2      crumbs      japan
3      border    germany
4      splash     france
5  california       iraq
6     blended     brazil
7        farm      syria
8        pond      india
9     america  venezuela

## well

    urban     rural
0  poorly     usual
1    good      hell
2   usual       but
3    much      yeah
4  nicely    poorly
5      it        it
6    fine        he
7  anyway      good
8    hell    anyway
9     bad  actually

## without

     urban    rural
0    after     with
1   before  towards
2    while      for
3  despite    after
4      for    avoid
5     with  imagine
6   during       or
7      and  besides
8   within   during
9  through  despite

## soon

        urban       rural
0     shortly     quickly
1    tomorrow  eventually
2  eventually    sometime
3   hopefully   hopefully
4    sometime    tomorrow
5     quickly     shortly
6       early        fast
7     finally       quick
8       close        asap
9       quick     someday

## one

     urban      rural
0      the        two
1      two        the
2     half     second
3     that       that
4     type       ones
5     part      there
6     none  intention
7  because       ever
8      but      every
9      way        all

## late

       urban     rural
0      early     early
1       busy      busy
2      close      hard
3      drunk     rough
4       slow     short
5  scheduled      long
6   tomorrow    friday
7      sober  tomorrow
8      rough     shift
9     shabby    monday

## note

       urban           rural
0    message         comment
1      topic           notes
2    picture          letter
3      story         picture
4       case             pic
5     effect  recommendation
6   response         message
7  situation     perspective
8     memory   consideration
9      convo           image

## least

          urban    rural
0         point    point
1          also    stake
2       expense    aimed
3         aimed    stare
4          only     risk
5          helm     yell
6          risk     look
7         stake      age
8  disadvantage      all
9          once  walmart

## present

         urban         rural
0    celebrate    celebrated
1   celebrated     celebrate
2  destination         happy
3      success   celebrating
4   experience        wishes
5  celebration  celebrations
6        happy    successful
7     presence          50th
8      retreat          born
9      journey       journey

## whose

         urban       rural
0        their         who
1          who    disabled
2          his       their
3        which     elderly
4     autistic       elses
5           my   molesting
6    imaginary   murdering
7  transgender         his
8        black  assaulting
9      abusing   allegedly

## open

     urban      rural
0   closed     closed
1  closing    closing
2    empty     closes
3    close      opens
4   opened     opened
5    clean   boarding
6      set    hosting
7     fill      empty
8     tied  scheduled
9   loaded    reserve

## early

      urban      rural
0      late       late
1       mid   tomorrow
2     after      after
3  tomorrow     before
4    before        mid
5     today       busy
6      high       fast
7     later      today
8     slump  scheduled
9     close       back

## held

     urban       rural
0   placed      placed
1  holding  recognized
2   backed     closing
3   beaten    selected
4   thrown      thrown
5    stood       ruled
6   marked   presented
7   pushed    inducted
8   locked      reopen
9     hold       moved

## playing

        urban      rural
0      playin    blaring
1      played    jamming
2    watching     playin
3     singing     played
4     dancing       play
5        play    singing
6     running  streaming
7    blasting       feat
8       plays      plays
9  practicing    hitting

## union

        urban       rural
0    military    nebraska
1        govt        iowa
2      unions    missouri
3  university       salem
4   nonprofit     fayette
5        dept      newark
6  government    virginia
7   corporate   cambridge
8       legal  georgetown
9     charter      ottawa

## loss

            urban     rural
0         victory    losing
1         success   victory
2            goal      lose
3          losing    losses
4          losses    stroke
5  disappointment   gaining
6      commitment      goal
7          career  watchers
8         failure      lost
9          injury     sweep

## any

      urban     rural
0    either      some
1      some  anything
2  anything    either
3        no        no
4  specific      even
5      even     every
6   certain      lack
7        ny    anyone
8       the      none
9      none       the

## view

          urban         rural
0         views         views
1       display      location
2         image       element
3    photograph    atmosphere
4           map     mountains
5   description  neighborhood
6     landscape         lakes
7  intersection          area
8       portion       beaches
9       picture        haddam

## other

        urban      rural
0   different  different
1        more     others
2        diff       more
3    separate     better
4      others      fewer
5  individual       them
6    multiple       othe
7        them      worse
8     various      faker
9      ethnic   multiple

## small

     urban     rural
0    large     large
1     tiny      tiny
2      big       big
3     huge     cheap
4  complex     basic
5    giant   storage
6  private    narrow
7   little     halls
8     soft  friendly
9    cheap   smaller

## due

       urban       rural
0      prior   impending
1     linked     delayed
2    causing   dismissal
3    reduced       delay
4     delays       prior
5      surge   according
6  according     pending
7   compared    required
8     severe    canceled
9    flights  conditions

## today

       urban      rural
0  yesterday    tonight
1    tonight  yesterday
2   tomorrow   tomorrow
3        and     sunday
4     before     monday
5       just      lunch
6      early      early
7       this        day
8        now         it
9    already   saturday

## case

        urban     rural
0       order   plugged
1   situation  sentence
2      charge     cases
3        fact     crime
4     general     terms
5       cases      fact
6   agreement   insuran
7    position   context
8   courtroom    charge
9  conviction  interest

## co

        urban      rural
0    founders         wi
1  researcher    douglas
2    producer     monroe
3     company       bibb
4       union  jefferson
5    partners     county
6   principal         ln
7     faculty         ia
8   nonprofit   berthoud
9        firm      80513

## living

      urban         rural
0  thriving       staying
1  drowning         livin
2   trapped      drowning
3   staying        moving
4     dying         stuck
5   falling     believing
6  building      changing
7     livin     traveling
8   walking      struggle
9   working  relationship

## m

    urban   rural
0      am      am
1      im      im
2  theyre     was
3   youre  myself
4     hes   youre
5    shes      re
6     was   sleep
7      is     bed
8      re    feel
9   start    hate

## watch

     urban     rural
0      see  watching
1     play       see
2   listen      play
3  rewatch    listen
4   finish        tv
5       go    upload
6    leave     sleep
7    sleep   rewatch
8   stream       try
9    enjoy   netflix

## rest

       urban      rural
0  remainder  remainder
1        end        end
2        all    portion
3        one      ahead
4     depths       hell
5    portion       sake
6      brink        all
7     future       next
8   majority   majority
9       next     amount

## reason

           urban        rural
0        reasons        thing
1    consequence  explanation
2  justification         idea
3          thing      reasons
4            but  responsible
5        problem       person
6         excuse     question
7           idea      because
8       downside          way
9            way      problem

## complete

       urban       rural
0      total       total
1       full        full
2      whole     crucial
3    regular       slant
4       huge       major
5    literal    survival
6   critical       utter
7    useless    optimism
8  perpetual     massive
9      major  domination

## working

           urban       rural
0         moving        work
1        running    sleeping
2        pushing      moving
3     struggling  practicing
4     practicing    studying
5         workin    focusing
6       thriving    checking
7        failing    grinding
8           work    partying
9  communicating      workin

## short

      urban      rural
0      long       long
1     solid       late
2      slow      rough
3      deep       full
4     small      solid
5     rough  stressful
6     quick      tight
7   intense      tough
8   crucial   vertical
9  dramatic      early

## national

           urban          rural
0  international   independence
1        refugee          labor
2       military       memorial
3      political  international
4       historic       founders
5   presidential       sciences
6     opposition   commencement
7        council      statewide
8      corporate        vermont
9          major        capitol

## black

      urban     rural
0     white     white
1       gay    collar
2     brown    yellow
3      male  hispanic
4    female    fringe
5     trans    knives
6       cis      eyed
7      blue   colored
8  american      blue
9    latinx      knit

## often

        urban        rural
0  frequently      quickly
1   generally   frequently
2     usually         much
3     heavily       easily
4   typically    difficult
5      rarely         many
6        many      painful
7     quickly    naturally
8        much      usually
9     unusual  challenging

## school

          urban      rural
0       college    college
1         class  schoolers
2    highschool      class
3    university    schools
4     undergrad   schooler
5  kindergarten      fived
6        junior      fives
7       schools    classes
8           gym     fiving
9        church        gym

## behind

        urban     rural
0      inside      into
1      around   beneath
2      across    across
3     through    beside
4          on    within
5     beneath  blocking
6      within   between
7        into        in
8  underneath      from
9       where     front

## character

         urban        rural
0   characters  personality
1      villain   commentary
2        movie     reaction
3    storyline     musician
4         film   expression
5        genre  imagination
6  personality       belief
7       sitcom         role
8         cast   characters
9      cartoon      opinion

## god

      urban        rural
0      lord         lord
1  goodness        jesus
2        od       christ
3      gosh         gods
4      gawd        faith
5       man         sins
6   heavens    salvation
7      gods     kindness
8      soul     patience
9     heart  forgiveness

## last

     urban     rural
0    first     first
1     past      next
2      ago      past
3     next       ago
4    every   earlier
5      1st   longest
6      ast     every
7   almost  previous
8  earlier    during
9    final      this

## against

      urban      rural
0   despite     versus
1    toward     defeat
2   towards     forces
3    facing    despite
4  domestic    battles
5       for  opponents
6     court     defend
7    defeat  defending
8      with     facing
9    forces     oppose