In [14]:
import numpy as np
import pandas as pd

from scipy.stats import chi2_contingency

from twitter_geo.state_word_counts.models import StateCount

In [12]:
token = 'god'
a = StateCount.state_token_count('AL', token)
b = StateCount.state_token_count('CA', token)
c = StateCount.state_count('AL')
d = StateCount.state_count('CA')

In [17]:
chi2_contingency([[a, b], [c, d]])

(12296.320587410044, 0.0, 1, array([[  2.30052516e+04,   1.86884748e+05],
        [  3.43783187e+07,   2.79274644e+08]]))

In [44]:
c = StateCount.state_count('CA')
d = StateCount.state_count('MA')

data = []
for token in StateCount.tokens():
    
    a = StateCount.state_token_count('CA', token)
    b = StateCount.state_token_count('MA', token)
    
    if a and b:
        chi, p, _, _ = chi2_contingency([[a, b], [c, d]])
        data.append((token, a/c - b/d))

In [45]:
df = pd.DataFrame(data, columns=('token', 'zeta'))

In [46]:
df.sort_values('zeta', ascending=False)

           token      zeta
9267           i  0.003256
502           gt  0.001833
9739         you  0.001724
8735          my  0.001512
8290          me  0.001247
7831         til  0.001084
597           ca  0.001033
7701        read  0.000901
5332          lt  0.000824
3124         lol  0.000676
5774        love  0.000633
5975           m  0.000628
1854        blog  0.000618
2861       until  0.000547
7827         san  0.000533
5046   available  0.000489
6296          la  0.000452
5184          so  0.000436
6214    appeared  0.000417
5180        wild  0.000323
4374         los  0.000316
2898         her  0.000310
9352       video  0.000307
1526           u  0.000303
9348  california  0.000299
7126        shit  0.000297
8966        like  0.000296
4312         get  0.000292
995      angeles  0.000280
6149          up  0.000267
...          ...       ...
5833          as -0.000281
5014          am -0.000293
3238          be -0.000295
8499         not -0.000302
6375          by -0.000309
2890         are -0.000318
8362          an -0.000331
1565       today -0.000336
9116          we -0.000344
4041        this -0.000351
2628          it -0.000362
1241          pm -0.000381
2767        from -0.000381
4684       great -0.000414
7848         now -0.000433
6598           f -0.000443
2051         and -0.000518
5314         our -0.000535
1594     eastern -0.000566
5244          us -0.000598
8563           a -0.000611
7911          to -0.000637
798          for -0.000931
3348          is -0.001077
2686          on -0.001110
965           in -0.001188
587       boston -0.001314
1554          of -0.001520
3404          ma -0.001559
4936         the -0.002941

[9871 rows x 2 columns]